<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>来訪者管理</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>来訪者管理システム</h1>
      <h2>訪問時あいさつの管理</h2>
      <ul>
        <li><a href="greeting/add-form">あいさつ追加</a></li>
        <li><a href="greeting/list">あいさつ一覧</a></li>
      </ul>
      <h2>アポイントメントの管理</h2>
      <ul>
        <li><a href="appointment/add-form">アポイントメント追加</a></li>
        <li><a href="appointment/list">アポイントメント一覧</a></li>
      </ul>
      <h2>訪問履歴の管理</h2>
      <ul>
        <li><a href="history/all">訪問履歴確認</a></li>
      </ul>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
